<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_HR_gr2/blob/Abdrakhmanova-Guzel-folder/Abdrakhmanova%20Guzel/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Исследование датасета**

1) Датасет небольшой по размеру (579 анкет). Предполагаю, что его нужно будет расширять и дополнять.

2) Сам датасет скачивается файлом в формате xlsx. Так как с ним еще работают и он будет корректироваться, то предлагаю разместить его на гугл доках. Уровень доступа там можно корректировать. 

3) Данные в датасете не структурированы и в некоторых случаях заполнены с явными ошибками:
- колонка "Дата отклика" есть даты 03.03.223 и 12.23.23
- колонка "ЗП" содержит суммы в разной валюте (рубли, USD, EUR, KZT, KGS, ...)
- на 8 вакансий всего 11 подходящих анкет (причем эти анкеты только для 4 вакансий)
- какие требования по 8 вакансиям непонятно
- колонку "Город" разделить на колонки с городом/страной и колонкой/ами по готовности к командировкам и командировкам
- у части анкет нет ответа в колонке "Подходит - да/нет"
- в таблице нет колонок "Ключевые навыки", "Обо мне" (в ТЗ они упоминаются)

4) Необходимы критерии по всем 8 вакансиям

**Загрузка таблицы**

Загрузила файл "dataset.csv" вручную, сама

In [ ]:
import pandas as pd

In [ ]:
import chardet

enc = chardet.detect(open("dataset.csv", 'rb').read())

print(enc)

{'encoding': 'windows-1251', 'confidence': 0.9428428356777072, 'language': 'Russian'}

In [ ]:
data = pd.read_csv("dataset.csv", encoding="windows-1251", sep=";")
data.drop("Unnamed: 0", axis=1, inplace=True)
data.head()

,Дата отклика,ФИО,Пол; возраст,ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,23.02.2023,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло?гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да
1,11.01.2023,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",8 февраля 2023 в 09:15,да
2,27.02.2023,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",28 февраля 2023 в 09:41,да
3,11.01.2023,Хозаев Расул Шагаманович,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",24 января 2023 в 12:07,да
4,11.01.2023,Шадрин Олег Михайлович,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",6 февраля 2023 в 11:18,да

**Корреляция таблицы**

In [ ]:
data2 = data.copy()
data2.drop("Дата отклика", axis=1, inplace=True)
data2.drop("Обновление резюме", axis=1, inplace=True)

data2.head()

,ФИО,Пол; возраст,ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Подходит - да/нет
0,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло?гия, 2014, Университет Ро...",да
1,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",да
2,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",да
3,Хозаев Расул Шагаманович,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",да
4,Шадрин Олег Михайлович,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",да

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ФИО                              579 non-null    object
 1   Пол; возраст                     579 non-null    object
 2   ЗП                               579 non-null    object
 3   Ищет работу на должность         579 non-null    object
 4   Город                            579 non-null    object
 5   Занятость                        579 non-null    object
 6   График                           579 non-null    object
 7   Опыт ()                          579 non-null    object
 8   Последнее/нынешное место работы  579 non-null    object
 9   Последняя/нынешняя должность     579 non-null    object
 10  Образование и ВУЗ                579 non-null    object
 11  Подходит - да/нет                500 non-null    object
dtypes: object(12)
memory usage: 56.8+ KB

In [17]:
data2.corr()

<ipython-input-17-41dc7ecd48ee>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data2.corr()

Empty DataFrame
Columns: []
Index: []

In [18]:
corr = data2.corr(numeric_only=False)

ValueError: ignored

Этим методом не получится, так как в таблице нет цифр, только тексты. Нужно стандартизировать таблицу. По каждому стобцу как я понимаю необходимо пройтись и поставить свои значения. 
Мне еще изучить как работать с текстом. Пока это вообще не понимаю. Предполагаю, что наподобие этого: пол мужской 0, пол женский 1

**Построение модели первой точности**

Прежде чем строить нужно с таблицей работу закончить.