<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_HR_gr2/blob/Abdrakhmanova-Guzel-folder/Abdrakhmanova%20Guzel/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Исследование датасета**

1) Датасет небольшой по размеру (579 анкет). Предполагаю, что его нужно будет расширять и дополнять.

2) Сам датасет скачивается файлом в формате xlsx. Так как с ним еще работают и он будет корректироваться, то предлагаю разместить его на гугл доках. Уровень доступа там можно корректировать. 

3) Данные в датасете не структурированы и в некоторых случаях заполнены с явными ошибками:
- колонка "Дата отклика" есть даты 03.03.223 и 12.23.23
- колонка "ЗП" содержит суммы в разной валюте (рубли, USD, EUR, KZT, KGS, ...)
- на 8 вакансий всего 11 подходящих анкет (причем эти анкеты только для 4 вакансий)
- какие требования по 8 вакансиям непонятно
- колонку "Город" разделить на колонки с городом/страной и колонкой/ами по готовности к командировкам и командировкам
- у части анкет нет ответа в колонке "Подходит - да/нет"
- в таблице нет колонок "Ключевые навыки", "Обо мне" (в ТЗ они упоминаются)

4) Необходимы критерии по всем 8 вакансиям

**Загрузка таблицы**

Загрузила файл "dataset.csv" в колаб

In [1]:
import pandas as pd

In [2]:
import chardet

enc = chardet.detect(open("dataset.xlsx", 'rb').read())

print(enc)

{'encoding': None, 'confidence': 0.0, 'language': None}

In [3]:
data = pd.read_excel("dataset.xlsx")
print(data.shape)
data.info()
data.head()

(579, 15)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 15 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       579 non-null    int64
 1   Дата отклика                     579 non-null    object
 2   ФИО                              579 non-null    object
 3   Пол, возраст                     579 non-null    object
 4   ЗП                               579 non-null    object
 5   Ищет работу на должность         579 non-null    object
 6   Город                            579 non-null    object
 7   Занятость                        579 non-null    object
 8   График                           579 non-null    object
 9   Опыт ()                          579 non-null    object
 10  Последнее/нынешное место работы  579 non-null    object
 11  Последняя/нынешняя должность     579 non-null    object
 12  Образование и ВУЗ                579 non-null    object
 13  Обновление резюме                579 non-null    object
 14  Подходит - да/нет                500 non-null    object
dtypes: int64(1), object(14)
memory usage: 68.0+ KB

,Unnamed: 0,Дата отклика,ФИО,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Подходит - да/нет
0,0,2023-02-23 00:00:00,Bessonova Mariya,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",23 февраля 2023 в 16:30,да
1,1,2023-01-11 00:00:00,Ефремова Екатерина Вячеславовна,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",8 февраля 2023 в 09:15,да
2,2,2023-02-27 00:00:00,Фролов Артур Михайлович,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",28 февраля 2023 в 09:41,да
3,3,2023-01-11 00:00:00,Хозаев Расул Шагаманович,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",24 января 2023 в 12:07,да
4,4,2023-01-11 00:00:00,Шадрин Олег Михайлович,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",6 февраля 2023 в 11:18,да

In [4]:
data.dropna(axis=0, how='any')
data.drop(["Unnamed: 0", "Дата отклика", "Обновление резюме", "ФИО"], axis=1, inplace=True)
data.head()

,"Пол, возраст",ЗП,Ищет работу на должность,Город,Занятость,График,Опыт (),Последнее/нынешное место работы,Последняя/нынешняя должность,Образование и ВУЗ,Подходит - да/нет
0,Женщина,90 000 руб.,Growth Product Manager,"Индонезия, Не готова к переезду, не готова к к...","проектная работа, частичная занятость, полная ...",удаленная работа,Опыт работы —5 лет 10 месяцев,PT MYBALI APP GROUP,Менеджер по продукту,"Высшее, 2023, Нетоло́гия, 2014, Университет Ро...",да
1,Женщина,не указана,Growth Product Manager,"Москва, Готова к переезду, готова к командировкам",полная занятость,"удаленная работа, гибкий график, полный день",Опыт работы —11 лет 11 месяцев,Банк Открытие,Product owner трайб сбережения и инвестиции,"Высшее, 2022, GeekBrains, 2010, Московский худ...",да
2,"Мужчина, 33 года, родился 23 августа 1989",150 000 руб.,Growth Product Manager,"Санкт-Петербург, Готов к переезду: Москва, гот...","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —7 лет 2 месяца,DIKIY LLC,Директор по маркетингу и бренд-менеджер,"Высшее, 2013, Санкт-Петербургский государствен...",да
3,"Мужчина, 32 года, родился 7 декабря 1990",не указана,Growth Product Manager,"Москва, м. Молодежная, Хочу переехать, готов к...","стажировка, частичная занятость, полная занятость","удаленная работа, гибкий график, полный день",Опыт работы —8 лет 10 месяцев,WeInvest,Product Manager (team leader),"Магистр, 2014, Московский государственный техн...",да
4,"Мужчина, 26 лет, родился 21 февраля 1996",150 000 руб.,Growth Product Manager,"Пермь, Хочу переехать, готов к командировкам","проектная работа, частичная занятость, полная ...","удаленная работа, гибкий график, полный день",Опыт работы —5 лет 9 месяцев,Индивидуальное предпринимательство / частная п...,Product/Project manager,"Высшее, 2021, Российская академия народного хо...",да

In [5]:
data2 = data.copy()

Пол 0/1 (1 - мужчина, 0 - женщина)

Возраст ОНЕ на 8 ? [] (в колонке "Пол, возраст", может быть не указан) (стандартизировано делить на одно число или по определенным рамкам)

ЗП ОНЕ на 8 ? (переводить валюту в рубли) (может быть не указана)

Ищет должность Multi(8x)

Город ОНЕ на 5 

Готовность к переезду, командировкам Multi(3x) (в колонке "Город", может быть не указан)

Занятость Multi(8x)

График Multi(5x)

Опыт ОНЕ на 8 ?

Последнее место работы BagofWords(10)

Последняя должность BagofWords(10)

Образование и ВУЗ ОНЕ на 6 ? 

Подходит 0/1 (1 - да, 0 - нет)